:root {
  font-family: var(--primary-font-family), var(--secondary-font-family),
    sans-serif;
  color: var(--light-gray-color);
  font-weight: 500;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--black-color);
}

input:-webkit-autofill {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 0 1000px var(--dark-gray-color) inset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--white-color);
  transition: all var(transition-duration) var(--transition-timing-function);
}
